// Imported Fonts 
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

// Fonts 
$headings_font: 'DM Serif Display', serif;
$body_font: 'Karla', sans-serif;
$font_regular: 400; 
$font_bold: 700;

// Colors 
$dark_violet: hsl(256, 26%, 20%);
$grayish_blue: hsl(216, 30%, 68%);
$very_dark_violet: hsl(270, 9%, 17%);
$dark_grayish_violet: hsl(273, 4%, 51%);
$very_light_gray: hsl(0, 0%, 98%);

// Breakpoints
$breakpoint: 900px;