*{
    margin: 0;
    padding: 0;
}

html{
    font-family: $font;
    font-size: 15px;
}

a{
    text-decoration: none;
}

*:focus{
    outline: none;
}

.container{ 
    width: $mobile_width;
    margin: 0 auto;
    max-width: 1200px;
}

.tablets-wrapper{
    margin-right: -16px; 
    margin-bottom: -16px;
    display: flex; 
    flex-wrap: wrap;
}

.tablet{
    height: 32px;
    margin-right: 16px;
    margin-bottom: 16px;
    background-color: $light_grayish_cyan_ft;
    border-radius: 4px;
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: background-color 0.2s;
    &__text{
        margin: 2px 10px 0px 10px;
        color: $desaturated_dark_cyan;
        font-weight: $font_bold;
        font-size: 0.9rem;
        transition: color 0.2s;
    }
}

.attribution{ 
    padding: 0.7rem 0;
    font-size: 11px;
    text-align: center;
    color: hsl(180, 25%, 45%);
    border-top: 2px solid  hsl(180, 37%, 65%);
    background-color: hsl(180, 35%, 83%);
    a{
        color: $very_dark_grayish_cyan;
    }
}


// Desktop Media Query 
@media only screen and (min-width: 1200px){ 
    .container{  
        width: $desktop_width; 
        max-width: $max_width; 
    }
}